<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>javaguides.net</title>
</head>
<body>
<div class="container">
    <div class="col-md-offset-1 col-md-10">
        <h3 class="text-center">Administration</h3>
        <hr/>
        <a class="btn btn-primary" href="/">Send message</a>
        <a class="btn btn-primary" href="/search/products">Search</a>
        <br/>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Message List</div>
            </div>

            <div style="width: 150%" class="container">
                <div style="align-items: flex-end" class="row">

                    <th:block th:each="tempMessage : ${message}">

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d-inline-block align-bottom">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th th:text="${tempMessage.name}"></th>
                                </tr>
                                <tr>
                                    <th th:text="${tempMessage.price}"></th>
                                </tr>
                                <tr>
                                    <th th:text="${tempMessage.oldPrice}"></th>
                                </tr>
                                <tr>
                                </tr>

                            </table>
                        </div>


                    </th:block>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer">

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>