<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot ajax example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.js"></script>


</head>
<body class="test">

<div id="wrapper">
    <div id="sidebar-wrapper">
        <aside id="sidebar">
            <ul id="sidemenu" class="sidebar-nav">
                <th:block th:each="tempCategory : ${category}">

                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"
                           th:href="'#submenu-'+${tempCategory.id}">
                            <span class="sidebar-icon"><i th:class="${tempCategory.imageCat}"></i></span>
                            <span class="sidebar-title" style="font-weight: bold;"
                                  th:text="${tempCategory.nameCategory}"></span>
                            <b class="caret"></b>
                        </a>
                        <ul th:id="'submenu-'+${tempCategory.id}" class="panel-collapse collapse panel-switch"
                            role="menu">
                            <th:block th:each="templistCategory : ${listCategory.get(tempCategory.nameCategory)}">
                                <li><a th:href="'/sortCategory?category='+${templistCategory.name}"
                                       th:text="${templistCategory.nameCategory}"><i class="fa fa-caret-right"></i></a>
                                </li>
                                <!--   <li><a href="#"><i class="fa fa-caret-right"></i>Roles</a></li>-->
                            </th:block>

                        </ul>
                    </li>

                </th:block>

                <li><a class="accordion-toggle collapsed toggle-switch" id="requestCategory" th:href="'/general-reguest?category=kids'"
                       ><span class="sidebar-icon"><i class="fas fa-baby-carriage"></i></span><span class="sidebar-title" style="font-weight: bold;"
                                                                                                                    th:text="Дитяче"></span></a>
                </li>

            </ul>

        </aside>
    </div>
    <main id="page-content-wrapper" role="main">
    </main>
</div>


<div class="container">


    <div class="starter-template">
        <h1>Поиск товаров</h1>

        <!--<a id="requestCategory" th:href="'/general-reguest?category=kids'"
           th:text='test'></a>-->

        <form class="form-inline" id="search-form">

            <div style="padding: 10px;" class="form-group">
                <label style="padding: 10px;" for="name">Product:</label><br>
                <input type="text" class="form-control" id="name"/>
            </div>
            <div style="padding: 10px;" class="form-group">
                <label style="padding: 10px;" for="company">Company:</label><br>
                <!--<input type="text" class="form-control" id="company"/>-->

                <select class="form-control" id="company">
                    <option value="All">All</option>
                    <option th:each="tempCompanyList : ${companyList}"
                            th:value="${tempCompanyList.getName()}"
                            th:utext="${tempCompanyList.getName()}"/>
                </select>
            </div>

            <button style="margin-top: 4%;" type="submit" id="bth-search"
                    class="btn btn-primary">Search
            </button>

        </form>

    </div>

</div>


<div style="margin: 50px" id="feedback">

    <div class="panel-body">


        <div class="container">
            <div style="
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
" class="row">

                <th:block th:each="tempProductList : ${productList}">

                    <div class="col-xs-3">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th style="background-color: white;" colspan="2"><img width="250" height="230"
                                                                                      th:src="${tempProductList.image}">
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2" th:text="${tempProductList.name}"></th>
                            </tr>
                            <tr>
                                <th th:text="${tempProductList.price}+'.грн'"
                                    style='color: green;width: 50%;text-align: center'></th>
                                <th th:text="${tempProductList.oldPrice} == 0? 0+'%' : '-'+${#numbers.formatDecimal(((tempProductList.oldPrice
                             - tempProductList.price)/tempProductList.oldPrice)*100,0,0)}+'%'"
                                    style='text-align: center'></th>
                            </tr>
                            <tr>
                                <th th:text="${tempProductList.oldPrice}+'.грн'"
                                    style='text-align: center;color: orangered'></th>
                                <th style='text-align: center' th:text="${tempProductList.company}"></th>
                            </tr>

                        </table>

                    </div>

                </th:block>

            </div>
        </div>

    </div>

</div>


<div class="container">

</div>

<div style="margin-left: 43%;margin-top: -2%;" id="pagination-list"></div>


</div>

<div style="margin-left: 43%;margin-top: -2%;" id="pagination-list-company"></div>


</div>


<div class="container">
    <footer>
    </footer>
</div>


<script>
    var pages = [[${totalPageCount}]];

    $('#pagination-list').bootpag({
        total: pages,
        maxVisible: 5,
        wrapClass: 'pagination pagination-lg',
        activeClass: 'activeClass',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first',
    }).on("page", function (event, num) {

        var company = "All";

        click_ajax_page(num, company);

    });


    $('.sidebar-nav li ul li a ').click(function (event) {

        event.preventDefault();

        var url = $(this).attr("href");
        var query_string_paramter = url.split("?")[1];
        var paramterCat = query_string_paramter.split("=")[1];

        searchCategory(paramterCat);

    });


    $('#requestCategory').click(function (event) {

        event.preventDefault();

        var url = $(this).attr("href");
        var query_string_paramter = url.split("?")[1];
        var paramterCat = query_string_paramter.split("=")[1];

        requestCategory(paramterCat);

    });


</script>


<script type="text/javascript" src="search.js"></script>
<script type="text/javascript" src="clickPage.js"></script>
<script type="text/javascript" src="searchCategory.js"></script>
<script type="text/javascript" src="requestCategory.js"></script>

</body>
</html>