<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>javaguides.net</title>
</head>
<body>


<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div style="width: 15%" class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap</div>
        <div class="list-group list-group-flush">
            <a href="/admin/process" class="list-group-item list-group-item-action bg-light">Process List</a>
            <a href="/admin/setting-process" class="list-group-item list-group-item-action bg-light">Setting process</a>
            <br>
            <a href="/admin/save" style="color:green" class="list-group-item list-group-item-action bg-light">Parse checked market</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <h3 class="text-center">Administration</h3>

            <table class="table table-striped table-bordered">

                <th:block th:each="tempSettingProcess : ${settingProcess}">

                    <div class="col-md-offset-2 col-md-7">

                        <form method="POST" th:object="${tempSettingProcess}" action="saveProcess">

                            <tr>

                                <td>
                                    <div class="form-group">
                                        Company name:
                                        <input name="name" class="form-control" type="text"
                                               th:value="${tempSettingProcess.name}"/>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        Date:
                                        <input name="startTime" class="form-control" type="datetime"
                                               th:value="${tempSettingProcess.startTime}"/>
                                    </div>
                                </td>
                                <td>
                                    Parse:
                                    <div class="form-group">
                                        <input type="checkbox" name="parse" th:checked="${tempSettingProcess.parse}"/>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4"></td>
                            </tr>
                        </form>

                    </div>

                </th:block>


            </table>

        </div>

    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>